<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="application.root.url" value="http://localhost"/>
    <add key="datasource" value="."/>
    <add key="username" value="db_user"/>
    <add key="password" value="db_pass"/>
    <add key="close.browser" value="false"/>
    <add key="implicit.wait.time" value="0"/>
    <add key="element.wait.time" value="20"/>
    <add key="element.polling.interval" value="500"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString=""/>
  </connectionStrings>
</configuration>